@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;700&display=swap');
body {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: rgb(34, 34, 34);
}

h1 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

.cool-text {
    font-size: 20px;
    bottom: 1%;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.hide {
    display: none !important;
}

#buttons-container button {
    border: none;
    padding: 10px 15px;
    width: 200px;
    height: 80px;
    margin-right: 20px;
    background-color: #fff;
    border: 2.2px solid rgb(34, 34, 34);
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

#buttons-container button i {
    display: inline-block;
    margin-right: 20px;
}

#buttons-container button:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    color: #fff;
}

#play-container {
    width: 300px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 20px auto 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    flex: 1 1 33%;
    height: 100px;
    border: 2px solid rgb(34, 34, 34);
    box-sizing: border-box;
    user-select: none;
}

#block-1,
#block-2,
#block-3 {
    border-top: none;
}

#block-1,
#block-4,
#block-7 {
    border-left: none;
}

#block-3,
#block-6,
#block-9 {
    border-right: none;
}

#block-7,
#block-8,
#block-9 {
    border-bottom: none;
}

.x {
    font-size: 65px;
    font-weight: 700;
    display: inline-block;
    line-height: 100px;
}

.o {
    width: 45px;
    height: 45px;
    border: 7px solid;
    border-radius: 50%;
    display: inline-block;
    margin-top: 17px;
}

#scoreboard-container {
    font-weight: 700;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.score-box {
    margin: 0 20px;
}

#x-scoreboard {
    margin-right: 3px;
}

#o-scoreboard {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 4px solid;
    border-radius: 50%;
    margin-right: 3px;
}

#message {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    user-select: none;
    text-align: center;
    width: 300px;
    height: 100px;
    background: linear-gradient(135deg, rgb(70, 70, 70) 20%, rgb(0, 0, 0));
    opacity: 90%;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}